<div class="hero-unit">
  <h2>Please give me your UUID.</h2>
  <p>This application is prepared exclusively for Tuan Tran.</p>
  <% if flash[:notice] %>
    <div class="alert alert-error">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <p>
  <form id="search" class="form-search" action="/candidates/show" method="get">
  <div class="input-append">
    <input id="uuid" placeholder="1249dce6-f378-443c-a83f-6c13c27d2ff4" type="text" name="uuid" class="span5 input-large-search">
    <button type="submit" class="btn btn-primary btn-large">Hit me!</button>
  </div>
  </form>
  </p>

</div>



