<div class="container">
  <div class="well">
    <% if flash[:notice] %>
      <div class="alert alert-error">
      <%= flash[:notice] %>
    </div>
  <% end %>    
    <form id="upload-picture" class="form-horizontal" method="post" action="/candidates/update_picture" enctype="multipart/form-data">
      <legend><h2>Upload Picture</h2></legend>
      <div class="control-group">
        <label class="control-label control-label-new">UUID</label>
        <div class="controls controls-new">
          <div class="input-prepend">
            <input type="text" class="input input-large-new" id="uuid" name="uuid" placeholder="1249dce6-f378-443c-a83f-6c13c27d2ff4">
          </div>
        </div>
      </div>
      <div class="control-group ">
        <div style="position:relative;">
          <a class='btn' href='javascript:;'> Choose Picture
            <input id="fileupload" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="imageBase64" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
          </a>
          &nbsp;
          <span class='label label-info' id="upload-file-info"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls controls-center">
      <button type="submit" class="btn btn-large btn-success" rel="tooltip" title="first tooltip">Submit</button>
    </div>
  </div>
</form>
  </div>
</div>
